<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-img-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <div class="incap-container">
                <img src="systems/swade/assets/ui/incapacitated.svg" class="incap-img">
            </div>
        </div>
        <div class="header-fields">
            <div class="charline">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SWADE.Name'}}" />
                </h1>
                <div class="conviction">
                    <strong>Conviction</strong>
                    <div class="convction-toggle">
                        {{#if actor.flags.swade.convictionReady}}
                        <a><i class="fas fa-star fa-2x"></i></a>
                        {{else}}
                        <a><i class="fas fa-times fa-2x"></i></a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div>
                <ul class="flexrow header-stats">
                    <li class="form-group">
                        <input id="race" name="data.details.species.name" type="text"
                            value="{{data.details.species.name}}" data-dtype="String"
                            placeholder="{{localize 'SWADE.Race'}}" />
                    </li>
                    <li class="form-group">
                        <label for="toughness">{{localize "SWADE.Tough"}}</label>
                        <input id="toughness" name="data.stats.toughness.value" type="text"
                            value="{{data.stats.toughness.value}}" placeholder="0" data-dtype="Number" />
                    </li>
                    <li class="form-group">
                        <label for="parry">{{localize "SWADE.Parry"}}</label>
                        <input id="parry" name="data.stats.parry.value" value="{{data.stats.parry.value}}" type="text"
                            placeholder="0" data-dtype="Number" />
                    </li>
                </ul>
                <ul class="flexrow header-stats">
                    <li class="form-group">
                        <label for="pace">{{localize "SWADE.Pace"}}</label>
                        <input id="pace" name="data.stats.speed.value" type="text" value="{{data.stats.speed.value}}"
                            placeholder="0" data-dtype="Number" />
                    </li>
                    <li class="form-group">
                        <input name="data.xp.rank" id="rank-input" type="text" value="{{data.xp.rank}}"
                            data-dtype="String" placeholder="{{localize 'SWADE.Rank'}}" />
                    </li>
                    <li class="form-group">
                        <label for="xp-input">{{localize "SWADE.Adv"}}</label>
                        <input name="data.details.xp.value" id="xp-input" type="text" value="{{data.details.xp.value}}"
                            data-dtype="Number" placeholder="0" />
                    </li>
                </ul>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="flexrow sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="summary">{{localize "SWADE.Summary"}}</a>
        <a class="item" data-tab="edges">{{localize "SWADE.Edges"}}</a>
        <a class="item" data-tab="inventory">{{localize "SWADE.Inv"}}</a>
        {{#if actor.flags.swade.hasArcaneBackground}}
        <a class="item" data-tab="powers">{{localize "SWADE.Pow"}}</a>
        {{/if}}
        <a class="item" data-tab="description">{{localize "SWADE.Desc"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Summary Tab --}}
        <div class="tab active" data-group="primary" data-tab="summary">
            {{> "systems/swade/templates/actors/partials/summary-tab.html"}}
        </div>

        {{!-- Edges/Hindrances Tab --}}
        <div class="tab edges" data-group="primary" data-tab="edges">
            {{> "systems/swade/templates/actors/partials/edges-tab.html"}}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{> "systems/swade/templates/actors/partials/inventory-tab.html"}}
        </div>

        {{!-- Powers Tab --}}
        {{#if actor.flags.swade.hasArcaneBackground}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{> "systems/swade/templates/actors/partials/powers-tab.html"}}
        </div>
        {{/if}}

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>