<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-img-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <div class="incap-container">
                <img src="systems/swade/assets/ui/incapacitated.svg" class="incap-img">
            </div>
        </div>
        <div class="header-fields">
            <div class="charline">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SWADE.Name'}}" />
                </h1>
                {{#if actor.flags.swade.isWildcard}}
                <div class="conviction">
                    <strong>Conviction</strong>
                    <div class="convction-toggle">
                        {{#if actor.flags.swade.convictionReady}}
                        <a><i class="fas fa-star fa-2x"></i></a>
                        {{else}}
                        <a><i class="fas fa-times fa-2x"></i></a>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>

            <ul class="flexrow header-stats">
                <li class="form-group">
                    <label for="pace">{{localize "SWADE.Pace"}}</label>
                    <input id="pace" name="data.stats.speed.value" type="text" value="{{data.stats.speed.value}}"
                        placeholder="0" data-dtype="Number" />
                </li>
                <li class="form-group">
                    <label for="toughness">{{localize "SWADE.Tough"}}</label>
                    <input id="toughness" name="data.stats.toughness.value" type="text"
                        value="{{data.stats.toughness.value}}" placeholder="0" data-dtype="Number" />
                </li>
                <li class="form-group">
                    <label for="parry">{{localize "SWADE.Parry"}}</label>
                    <input id="parry" name="data.stats.parry.value" value="{{data.stats.parry.value}}" type="text"
                        placeholder="0" data-dtype="Number" />
                </li>
            </ul>
            <div class="form-group">
                <label for="">{{localize "SWADE.Wildcard"}}</label>
                <input type="checkbox" name="flags.swade.isWildcard" {{checked actor.flags.swade.isWildcard}}>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="flexrow sheet-tabs tabs" data-group="primary">
        {{#if actor.flags.swade.hasArcaneBackground}}
        <a class="item" data-tab="summary">{{localize "SWADE.Summary"}}</a>
        <a class="item" data-tab="powers">{{localize "SWADE.Pow"}}</a>
        {{/if}}
    </nav>
    <section class="sheet-body">
        {{#if actor.flags.swade.hasArcaneBackground}}
        {{!-- Summary Tab --}}
        <div class="tab active" data-group="primary" data-tab="summary">
            {{> "systems/swade/templates/actors/partials/npc-summary-tab.html"}}
        </div>

        {{!-- Powers Tab --}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{> "systems/swade/templates/actors/partials/powers-tab.html"}}
        </div>

        {{else}}
        {{> "systems/swade/templates/actors/partials/npc-summary-tab.html"}}
        {{/if}}
    </section>
</form>