{{#each data.owned.armors as |armor id|}}
{{#if armor.data.equipped}}
<li class="gear-card ">
    <header class="flexrow card-header">
        <span>{{armor.name}} - {{localize "SWADE.Armor"}}: {{armor.data.armor}}</span>
    </header>
    <div class="card-content flexrow">
        <diV>{{armor.data.notes}}</div>
    </div>
</li>
{{/if}}
{{/each}}