<div class="flexrow">
    <div class="form-group powers-header">
        <label for="data.powerPoints.value">{{localize "SWADE.PP"}}</label>
        <input name="data.powerPoints.value" type="text" value="{{data.powerPoints.value}}"
            placeholder="{{localize 'SWADE.CurPP'}}" data-dtype="Number" />
        <span>/</span>
        <input name="data.powerPoints.max" type="text" value="{{data.powerPoints.max}}"
            placeholder="{{localize 'SWADE.MaxPP'}}" data-dtype="Number" />
    </div>
</div>
<powers class="powers-list">
    {{#each data.owned.powers as |power|}}
    <div class="power item" data-item-id="{{power._id}}">
        <a class="item-edit">
            <div class="power-header">{{power.name}} - {{power.data.pp}} PP</div>
        </a>
        <div class="power-content">
            {{power.data.description}}
        </div>
    </div>
    {{/each}}
</powers>