<section class="vitals flexrow">
    <div class="vitals-container">
        <strong>{{localize "SWADE.Fatigue"}}</strong>
        <input type="range" name="data.fatigue.value" min="0" max="{{data.fatigue.max}}" class="slider fatigue-slider"
            value="{{data.fatigue.value}}" />
        <div class="flexrow">
            <input type="text" value="{{data.fatigue.value}}" data-dtype="Number" class="fatigue-input" />
            <span>/</span>
            <input type="text" name="data.fatigue.max" value="{{data.fatigue.max}}" data-dtype="Number" />
        </div>
    </div>
    <div class="bennies flexrow">
        <div>
            <a><i class="benny-add fas fa-plus"></i></a>
        </div>
        <div class="benny-tracker">
            <strong>{{localize "SWADE.Bennies"}}</strong>
            <input class="bennies-current" name="data.bennies.value" type="text" value="{{data.bennies.value}}"
                data-dtype="Number" />
            <input class="bennies-max" name="data.bennies.max" type="text" value="{{data.bennies.max}}"
                data-dtype="Number" />
        </div>
        <div>
            <a><i class="benny-subtract fas fa-minus"></i></a>
        </div>
    </div>
    <div class="vitals-container">
        <strong>{{localize "SWADE.Wounds"}}</strong>
        <input type="range" name="data.wounds.value" min="0" max="{{data.wounds.max}}" class="slider wound-slider"
            value="{{data.wounds.value}}" data-dtype="Number" />
        <div class="flexrow">
            <input type="text" value="{{data.wounds.value}}" data-dtype="Number" class="wound-input" />
            <span>/</span>
            <input type="text" name="data.wounds.max" value="{{data.wounds.max}}" data-dtype="Number" />
        </div>
    </div>
</section>
<section class="flexrow">
    <div class="traits">
        <header class="attributes-header flexrow">
            <span>{{ localize "SWADE.Attributes" }}</span>
        </header>
        <ol class="attributes-list">
            <li class="flexrow" data-attribute="agility">
                <label class="attribute-label" for="attributes.agility">{{ localize "SWADE.AttrAgi" }}</label>
                <select class="attribute-value" name="data.attributes.agility.die.sides" id="attributes.agility"
                    data-dtype="Number">
                    {{#select data.attributes.agility.die.sides}}
                    {{> "systems/swade/templates/die-sides-options.html"}}
                    {{/select}}
                </select>
                <input name="data.attributes.agility.die.modifier" type="text"
                    value="{{data.attributes.agility.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                    data-dtype="String" />
            </li>
            <li class="flexrow" data-attribute="smarts">
                <label class="attribute-label" for="attributes.smarts">{{ localize "SWADE.AttrSma" }}</label>
                <select name="data.attributes.smarts.die.sides" id="attributes.smarts" data-dtype="Number">
                    {{#select data.attributes.smarts.die.sides}}
                    {{> "systems/swade/templates/die-sides-options.html"}}
                    {{/select}}
                </select>
                <input name="data.attributes.smarts.die.modifier" type="text"
                    value="{{data.attributes.smarts.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                    data-dtype="String" />
            </li>
            <li class="flexrow" data-attribute="spirit">
                <label class="attribute-label" for="attributes.spirit">{{ localize "SWADE.AttrSpr" }}</label>
                <select name="data.attributes.spirit.die.sides" id="attributes.spirit" data-dtype="Number">
                    {{#select data.attributes.spirit.die.sides}}
                    {{> "systems/swade/templates/die-sides-options.html"}}
                    {{/select}}
                </select>
                <input name="data.attributes.spirit.die.modifier" type="text"
                    value="{{data.attributes.spirit.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                    data-dtype="String" />
            </li>
            <li class="flexrow" data-attribute="strength">
                <label class="attribute-label" for="attributes.strength">{{ localize "SWADE.AttrStr" }}</label>
                <select name="data.attributes.strength.die.sides" id="attributes.strength" data-dtype="Number">
                    {{#select data.attributes.strength.die.sides}}
                    {{> "systems/swade/templates/die-sides-options.html"}}
                    {{/select}}
                </select>
                <input name="data.attributes.strength.die.modifier" type="text"
                    value="{{data.attributes.strength.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                    data-dtype="String" />
            </li>
            <li class="flexrow" data-attribute="vigor">
                <label class="attribute-label" for="attributes.vigor">{{ localize "SWADE.AttrVig" }}</label>
                <select name="data.attributes.vigor.die.sides" id="attributes.vigor" data-dtype="Number">
                    {{#select data.attributes.vigor.die.sides}}
                    {{> "systems/swade/templates/die-sides-options.html"}}
                    {{/select}}
                </select>
                <input name="data.attributes.vigor.die.modifier" type="text"
                    value="{{data.attributes.vigor.die.modifier}}" placeholder="{{localize 'SWADE.Mod'}}"
                    data-dtype="String" />
            </li>
        </ol>
        <header class="skills-header">
            <span>{{localize "SWADE.Skills"}}</span>
        </header>
        <ol class="skills-list">
            {{#each data.owned.skills as |skill id|}}
            <li class="item skill flexrow" data-item-id="{{skill._id}}">
                <label class="skill-label"><a class="item-control item-edit"
                        title="{{localize 'SWADE.EditSkill'}}">{{skill.name}}&nbsp;<i
                            class="fas fa-edit"></i></a></label>
                <div class="skill-value"><span>d{{skill.data.die.sides}}{{skill.data.die.modifier}}</span></div>
                <div class="skill-value"><span>{{skill.data.attribute}}</span></div>
                <!-- Add Dice roll shortcut here? -->
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="gear">
        <header class="gear-header">
            <span>{{ localize "SWADE.Weapons" }}</span>
        </header>
        <ol class="gear-list">
            {{> "systems/swade/templates/actors/partials/weapon-card.html"}}
        </ol>
        <header class="gear-header">
            <span>{{ localize "SWADE.Armor" }}</span>
        </header>
        <ol class="gear-list">
            {{> "systems/swade/templates/actors/partials/armor-card.html"}}
        </ol>
        <ol class="gear-list">
            {{> "systems/swade/templates/actors/partials/shield-card.html"}}
        </ol>
    </div>
</section>