.swade.sheet.npc {
  min-width: 600px;
  min-height: 768px;

  // Sheet Header
  .sheet-header {
    & > * {
      flex: 0;
    }
    border-bottom: $section-border;
  }
  // Profile Image
  .profile-img-container {
    position: relative;
    width: 150px;
    height: 150px;
    img {
      margin: 0;
      border: none;
    }
    .profile-img {
      height: inherit;
      width: inherit;
      object-fit: contain;
      cursor: pointer;
    }
    .incap-container {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    .incap-img {
      opacity: 0;
      width: 80px;
      height: 80px;
    }
    .fade-in-05 {
      opacity: 0.5;
    }
  }

  // Header Fields
  .header-fields {
    border-left: $section-border;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
    padding: 5px;
    margin-left: 2px;
    input[type="text"] {
      @extend %standalone-input-field;
    }
  }
  .charline {
    border-bottom: $section-border;
    height: 60px;
    width: 100%;
    display: inline-flex;
    .charname {
      height: 100%;
      margin: 0;
      input {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 1px solid transparent;
      }
    }
    .conviction {
      width: 20%;
      text-align: center;
      margin-left: 4px;
      .convction-toggle {
        padding-top: 6px;
      }
    }
  }

  ul.header-stats {
    list-style: none;
    justify-content: space-around;
    padding-left: 0;

    li {
      border: 1px solid transparent;
      margin: 2px 0;
      padding: 0 3px;
      width: 33.33%;
      justify-content: center;
      label {
        padding-left: 3px;
      }
    }
  }
  // Navigation Tabs
  .sheet-tabs {
    margin-bottom: 5px;
  }

  // Content Tabs
  .tabs {
    flex: auto;
    flex-direction: row;
    align-content: space-around;
    .item {
      margin: 0 5px;
      line-height: 30px;
      font-weight: bold;
      border-bottom: $tab-underline;
      &:hover {
        text-shadow: none;
        border-bottom: $tab-underline-active;
      }
    }
    .active {
      text-shadow: none;
      border-bottom: $tab-underline-active;
    }
  }

  .sheet-body {
    height: auto;
    .tab {
      height: 100%;
    }
    .extra-gear-card {
      border-bottom: $decorative-line;
      padding-bottom: 2px;
      margin-bottom: 2px;
    }
  }
  .editor {
    height: 420px;
    width: 100%;
  }

  .vitals {
    text-align: center;

    .vitals-container {
      margin: 3px 3px;

      input[type="text"] {
        @extend %standalone-input-field;
      }
    }
  }

  // Summary
  .traits {
    margin: 5px 0;
    padding: 2px;
    border-right: $decorative-line;

    .attributes-header {
      @extend %header-field;
    }

    .attributes-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .attribute-label {
        flex: 1.5;
      }
      li {
        margin: 3px;
        height: 28px;
        line-height: 24px;
        label {
          background: transparent;
          border: none;
          border-bottom: $decorative-line;
          border-radius: 0px;
        }
        select {
          margin: 0 3px;
          height: 28px;
          @extend %standalone-input-field;
        }
        input {
          margin: 0 3px;
          height: 28px;
          @extend %standalone-input-field;
        }

        a.attribute-control {
          border: none;
        }
      }
    }
    // Skills
    .skills-header {
      @extend %header-field;
    }
    .skills-list {
      list-style: none;
      margin: 0;
      padding: 0;
      span {
        a {
          border-bottom: 1px dotted #293133;
        }
        border: 1px solid transparent;
        &:nth-child(odd) {
          &::after {
            content: "/";
          }
        }
      }
    }
  }

  //Gear
  .gear {
    margin: 5px 0;
    padding: 2px;
    .gear-header {
      @extend %header-field;
    }
    .gear-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        > * {
          background: transparent;
        }
      }
    }
    .gear-card {
      margin: 5px 5px;
      border: $decorative-line;
      border-radius: 2px;

      .card-header {
        padding: 5px;
        background: rgba(0, 0, 0, 0.2);
        border-bottom: $decorative-line;
        text-align: center;
      }
      .card-content {
        background: rgba(255, 255, 255, 0.05);
        margin: 0 3px;
        line-height: 24px;
        padding: 5px;
      }
      .chips {
        span {
          padding-bottom: 8px;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
        .chip {
          padding: 0px 5px 5px 5px;
          font-size: 10px;
          .chip-content {
            padding: 2px 5px;
            height: auto;
            background-color: #bbb;
            border-radius: 25%;
            display: inline-block;
          }
        }
      }
    }
  }
}

// Powers
.powers {
  margin: 3px 0;
  .powers-header {
    @extend %header-field;
  }
  .powers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .power {
      margin: 2px;
      flex-grow: 1;
      flex-basis: 160px;
      border: $decorative-line;
      border-radius: 2px;

      .power-header {
        padding: 5px;
        background: rgba(0, 0, 0, 0.05);
        border-bottom: $decorative-line;
        text-align: center;
      }
      .power-content {
        margin: 0 3px;
        line-height: 24px;
        padding: 5px;
        max-height: 160px;
        overflow-y: auto;
      }
    }
  }
}
