<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="item sheet-header" data-item-id="{{item._id}}">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="itemline">
                <h1 class="itemname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'SWADE.Name'}}"
                        data-dtype="String" />
                </h1>
                <div class="item-controls">
                    <a class="item-control item-delete" title="{{localize 'SWADE.Del'}}"><i
                            class="fas fa-trash fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="form-group">
            <label for="data.requirements.value">{{localize "SWADE.Req"}}</label>
            <input name="data.requirements.value" type="text" value="{{item.data.requirements.value}}"
                placeholder="{{localize 'SWADE.Req'}}" data-dtype="String" />
        </div>
        {{#unless item.data.isOwned}}
        <div class="form-group">
            <label for="data.isArcaneBackground">{{localize "SWADE.ArcBack"}}</label>
            <input type="checkbox" name="data.isArcaneBackground" {{checked item.data.isArcaneBackground}}
                data-dtype="Boolean">
        </div>
        {{/unless}}
        <div class="form-group">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>