<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="item sheet-header" data-item-id="{{item._id}}">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="itemline">
                <h1 class="itemname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'SWADE.Name'}}"
                        data-dtype="String" />
                </h1>
                <div class="item-controls">
                    <a class="item-control item-delete" title="{{localize 'SWADE.Del'}}"><i
                            class="fas fa-trash fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="form-group">
            <label for="data.pp">{{localize "SWADE.PP"}}</label>
            <input name="data.pp" type="text" value="{{item.data.pp}}" placeholder="{{localize 'SWADE.PP'}}"
                data-dtype="Number" />
        </div>
        <div class="form-group">
            <label for="data.duration">{{localize "SWADE.Dur"}}</label>
            <input name="data.duration" type="text" value="{{item.data.duration}}"
                placeholder="{{localize 'SWADE.Dur'}}" data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="data.range">{{localize "SWADE.Rng"}}</label>
            <input name="data.range" type="text" value="{{item.data.range}}" placeholder="{{localize 'SWADE.Rng'}}"
                data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="data.rank">{{localize "SWADE.Rank"}}</label>
            <input name="data.rank" type="text" value="{{item.data.rank}}" placeholder="{{localize 'SWADE.Rank'}}"
                data-dtype="String" />
        </div>
        <div class="form-group">
            <label for="data.trapping">{{localize "SWADE.Trap"}}</label>
            <input name="data.trapping" type="text" value="{{item.data.trapping}}"
                placeholder="{{localize 'SWADE.Trap'}}" data-dtype="String" />
        </div>
        <div class="form-group">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>